server:
  port: 8080
  servlet:
    context-path: /entnews
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/plain
    min-response-size: 1024

spring:
  application:
    name: entnews

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://rm-2zesh84offkd6kbsleo.mysql.rds.aliyuncs.com:3306/db_data_center?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8
    username: db_data
    password: root@1234
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 6000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat,wall,log4j
      connection-properties: druid.stat.slowSqlMillis=500

mybatis-plus:
  type-aliases-package: com.ent.news.entity
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

xxl:
  job:
    admin:
      addresses: http://8.152.6.134:8666/xxl-job-admin # XXL-JOB 调度中心地址
    accessToken: default_token
    executor:
      appname: xxl-job-executor-entnews # 执行器名称
      address:
      ip:  # 执行器 IP，为空则自动获取
      port: 9998 # 执行器端口
      logpath: /data/applogs/xxl-job/jobhandler # 执行器日志路径
      logretentiondays: -1 # 执行器日志保留天数

logging:
  level:
    root: INFO
  file:
    name: app.log

api:
  publicKey: IztsDCjVvMkZdOMpFOnaqY60wgXmru05fSCvmHpHrSw
  appId: 1169482334402
  botId: 7443309148219506725





